body {
  --abv-switch-size: 26px;
  --abv-switch-width: calc(1.8em + 4px);
  --abv-switch-height: calc(1em + 4px);
  --abv-switch-node-size: 1em;
  --abv-switch-node-background: var(--abv-white);
  --abv-switch-node-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05);
  --abv-switch-background: rgba(120, 120, 128, 0.16);
  --abv-switch-on-background: var(--abv-primary-color);
  --abv-switch-duration: var(--abv-duration-base);
  --abv-switch-disabled-opacity: var(--abv-disabled-opacity);
}
.abv-theme-dark {
  --abv-switch-background: rgba(120, 120, 128, 0.32);
}
.abv-switch {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  width: var(--abv-switch-width);
  height: var(--abv-switch-height);
  font-size: var(--abv-switch-size);
  background: var(--abv-switch-background);
  border-radius: var(--abv-switch-node-size);
  cursor: pointer;
  transition: background-color var(--abv-switch-duration);
}
.abv-switch__node {
  position: absolute;
  top: 2px;
  left: 2px;
  width: var(--abv-switch-node-size);
  height: var(--abv-switch-node-size);
  font-size: inherit;
  background: var(--abv-switch-node-background);
  border-radius: 100%;
  box-shadow: var(--abv-switch-node-shadow);
  transition: transform var(--abv-switch-duration) cubic-bezier(0.3, 1.05, 0.4, 1.05);
}
.abv-switch__loading {
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  line-height: 1;
}
.abv-switch--on {
  background: var(--abv-switch-on-background);
}
.abv-switch--on .abv-switch__node {
  transform: translateX(calc(var(--abv-switch-width) - var(--abv-switch-node-size) - 4px));
}
.abv-switch--on .abv-switch__loading {
  color: var(--abv-switch-on-background);
}
.abv-switch--disabled {
  cursor: not-allowed;
  opacity: var(--abv-switch-disabled-opacity);
}
.abv-switch--loading {
  cursor: default;
}
