/**
 * Entry of basic styles
 */
body {
  --abv-black: #000;
  --abv-white: #fff;
  --abv-gray-1: #f7f8fa;
  --abv-gray-2: #f2f3f5;
  --abv-gray-3: #ebedf0;
  --abv-gray-4: #dcdee0;
  --abv-gray-5: #c8c9cc;
  --abv-gray-6: #969799;
  --abv-gray-7: #646566;
  --abv-gray-8: #323233;
  --abv-red: #ee0a24;
  --abv-blue: #1989fa;
  --abv-orange: #ff976a;
  --abv-orange-dark: #ed6a0c;
  --abv-orange-light: #fffbe8;
  --abv-green: #07c160;
  --abv-gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
  --abv-gradient-orange: linear-gradient(to right, #ffd01e, #ff8917);
  --abv-primary-color: var(--abv-blue);
  --abv-success-color: var(--abv-green);
  --abv-danger-color: var(--abv-red);
  --abv-warning-color: var(--abv-orange);
  --abv-text-color: var(--abv-gray-8);
  --abv-text-color-2: var(--abv-gray-6);
  --abv-text-color-3: var(--abv-gray-5);
  --abv-link-color: #576b95;
  --abv-active-color: var(--abv-gray-2);
  --abv-active-opacity: 0.6;
  --abv-disabled-opacity: 0.5;
  --abv-background: var(--abv-gray-1);
  --abv-background-2: var(--abv-white);
  --abv-background-3: var(--abv-white);
  --abv-padding-base: 4px;
  --abv-padding-xs: 8px;
  --abv-padding-sm: 12px;
  --abv-padding-md: 16px;
  --abv-padding-lg: 24px;
  --abv-padding-xl: 32px;
  --abv-font-bold: 600;
  --abv-font-size-xs: 10px;
  --abv-font-size-sm: 12px;
  --abv-font-size-md: 14px;
  --abv-font-size-lg: 16px;
  --abv-line-height-xs: 14px;
  --abv-line-height-sm: 18px;
  --abv-line-height-md: 20px;
  --abv-line-height-lg: 22px;
  /* stylelint-disable */
  --abv-base-font: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial,
    Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  --abv-price-font: avenir-heavy, 'PingFang SC', helvetica neue, arial, sans-serif;
  /* stylelint-enable */
  --abv-duration-base: 0.3s;
  --abv-duration-fast: 0.2s;
  --abv-ease-out: ease-out;
  --abv-ease-in: ease-in;
  --abv-border-color: var(--abv-gray-3);
  --abv-border-width: 1px;
  --abv-radius-sm: 2px;
  --abv-radius-md: 4px;
  --abv-radius-lg: 8px;
  --abv-radius-max: 999px;
}
.abv-theme-dark {
  --abv-text-color: #f5f5f5;
  --abv-text-color-2: #707070;
  --abv-text-color-3: #4d4d4d;
  --abv-border-color: #3a3a3c;
  --abv-active-color: #3a3a3c;
  --abv-background: #000;
  --abv-background-2: #1c1c1e;
  --abv-background-3: #37363b;
}
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  font-family: var(--abv-base-font);
}
a {
  text-decoration: none;
}
input,
button,
textarea {
  color: inherit;
  font: inherit;
}
a:focus,
input:focus,
button:focus,
textarea:focus,
[class*='abv-']:focus {
  outline: none;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
@keyframes abv-slide-up-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes abv-slide-up-leave {
  to {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes abv-slide-down-enter {
  from {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes abv-slide-down-leave {
  to {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes abv-slide-left-enter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes abv-slide-left-leave {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes abv-slide-right-enter {
  from {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes abv-slide-right-leave {
  to {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes abv-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes abv-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes abv-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.abv-fade-enter-active {
  animation: var(--abv-duration-base) abv-fade-in both var(--abv-ease-out);
}
.abv-fade-leave-active {
  animation: var(--abv-duration-base) abv-fade-out both var(--abv-ease-in);
}
.abv-slide-up-enter-active {
  animation: abv-slide-up-enter var(--abv-duration-base) both var(--abv-ease-out);
}
.abv-slide-up-leave-active {
  animation: abv-slide-up-leave var(--abv-duration-base) both var(--abv-ease-in);
}
.abv-slide-down-enter-active {
  animation: abv-slide-down-enter var(--abv-duration-base) both var(--abv-ease-out);
}
.abv-slide-down-leave-active {
  animation: abv-slide-down-leave var(--abv-duration-base) both var(--abv-ease-in);
}
.abv-slide-left-enter-active {
  animation: abv-slide-left-enter var(--abv-duration-base) both var(--abv-ease-out);
}
.abv-slide-left-leave-active {
  animation: abv-slide-left-leave var(--abv-duration-base) both var(--abv-ease-in);
}
.abv-slide-right-enter-active {
  animation: abv-slide-right-enter var(--abv-duration-base) both var(--abv-ease-out);
}
.abv-slide-right-leave-active {
  animation: abv-slide-right-leave var(--abv-duration-base) both var(--abv-ease-in);
}
.abv-clearfix::after {
  display: table;
  clear: both;
  content: '';
}
.abv-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.abv-multi-ellipsis--l2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}
.abv-multi-ellipsis--l3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}
.abv-safe-area-top {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
.abv-safe-area-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
.abv-haptics-feedback {
  cursor: pointer;
}
.abv-haptics-feedback:active {
  opacity: var(--abv-active-opacity);
}
[class*='abv-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid var(--abv-border-color);
  transform: scale(0.5);
}
.abv-hairline,
.abv-hairline--top,
.abv-hairline--left,
.abv-hairline--right,
.abv-hairline--bottom,
.abv-hairline--surround,
.abv-hairline--top-bottom {
  position: relative;
}
.abv-hairline--top::after {
  border-top-width: var(--abv-border-width);
}
.abv-hairline--left::after {
  border-left-width: var(--abv-border-width);
}
.abv-hairline--right::after {
  border-right-width: var(--abv-border-width);
}
.abv-hairline--bottom::after {
  border-bottom-width: var(--abv-border-width);
}
.abv-hairline--top-bottom::after,
.abv-hairline-unset--top-bottom::after {
  border-width: var(--abv-border-width) 0;
}
.abv-hairline--surround::after {
  border-width: var(--abv-border-width);
}
