body {
  --abv-slider-active-background: var(--abv-primary-color);
  --abv-slider-inactive-background: var(--abv-gray-3);
  --abv-slider-disabled-opacity: var(--abv-disabled-opacity);
  --abv-slider-bar-height: 2px;
  --abv-slider-button-width: 24px;
  --abv-slider-button-height: 24px;
  --abv-slider-button-radius: 50%;
  --abv-slider-button-background: var(--abv-white);
  --abv-slider-button-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.abv-theme-dark {
  --abv-slider-inactive-background: var(--abv-background-3);
}
.abv-slider {
  position: relative;
  width: 100%;
  height: var(--abv-slider-bar-height);
  background: var(--abv-slider-inactive-background);
  border-radius: var(--abv-radius-max);
  cursor: pointer;
}
.abv-slider::before {
  position: absolute;
  top: calc(var(--abv-padding-xs) * -1);
  right: 0;
  bottom: calc(var(--abv-padding-xs) * -1);
  left: 0;
  content: '';
}
.abv-slider__bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--abv-slider-active-background);
  border-radius: inherit;
  transition: all var(--abv-duration-fast);
}
.abv-slider__button {
  width: var(--abv-slider-button-width);
  height: var(--abv-slider-button-height);
  background: var(--abv-slider-button-background);
  border-radius: var(--abv-slider-button-radius);
  box-shadow: var(--abv-slider-button-shadow);
}
.abv-slider__button-wrapper {
  position: absolute;
  cursor: grab;
  top: 50%;
}
.abv-slider__button-wrapper--right {
  right: 0;
  transform: translate3d(50%, -50%, 0);
}
.abv-slider__button-wrapper--left {
  left: 0;
  transform: translate3d(-50%, -50%, 0);
}
.abv-slider--disabled {
  cursor: not-allowed;
  opacity: var(--abv-slider-disabled-opacity);
}
.abv-slider--disabled .abv-slider__button-wrapper {
  cursor: not-allowed;
}
.abv-slider--vertical {
  display: inline-block;
  width: var(--abv-slider-bar-height);
  height: 100%;
}
.abv-slider--vertical .abv-slider__button-wrapper--right {
  top: auto;
  right: 50%;
  bottom: 0;
  transform: translate3d(50%, 50%, 0);
}
.abv-slider--vertical .abv-slider__button-wrapper--left {
  top: 0;
  right: 50%;
  left: auto;
  transform: translate3d(50%, -50%, 0);
}
.abv-slider--vertical::before {
  top: 0;
  right: calc(var(--abv-padding-xs) * -1);
  bottom: 0;
  left: calc(var(--abv-padding-xs) * -1);
}
