body {
  --abv-count-down-text-color: var(--abv-text-color);
  --abv-count-down-font-size: var(--abv-font-size-md);
  --abv-count-down-line-height: var(--abv-line-height-md);
}
.abv-count-down {
  color: var(--abv-count-down-text-color);
  font-size: var(--abv-count-down-font-size);
  line-height: var(--abv-count-down-line-height);
}
