body {
  --abv-popover-arrow-size: 6px;
  --abv-popover-radius: var(--abv-radius-lg);
  --abv-popover-action-width: 128px;
  --abv-popover-action-height: 44px;
  --abv-popover-action-font-size: var(--abv-font-size-md);
  --abv-popover-action-line-height: var(--abv-line-height-md);
  --abv-popover-action-icon-size: 20px;
  --abv-popover-light-text-color: var(--abv-text-color);
  --abv-popover-light-background: var(--abv-background-2);
  --abv-popover-light-action-disabled-text-color: var(--abv-text-color-3);
  --abv-popover-dark-text-color: var(--abv-white);
  --abv-popover-dark-background: #4a4a4a;
  --abv-popover-dark-action-disabled-text-color: var(--abv-text-color-2);
}
.abv-popover {
  position: absolute;
  overflow: visible;
  background-color: transparent;
  transition: opacity 0.15s, transform 0.15s;
}
.abv-popover__wrapper {
  display: inline-block;
}
.abv-popover__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: var(--abv-popover-arrow-size);
}
.abv-popover__content {
  overflow: hidden;
  border-radius: var(--abv-popover-radius);
}
.abv-popover__action {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: var(--abv-popover-action-width);
  height: var(--abv-popover-action-height);
  padding: 0 var(--abv-padding-md);
  font-size: var(--abv-popover-action-font-size);
  line-height: var(--abv-line-height-md);
  cursor: pointer;
}
.abv-popover__action:last-child .abv-popover__action-text::after {
  display: none;
}
.abv-popover__action-text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.abv-popover__action-icon {
  margin-right: var(--abv-padding-xs);
  font-size: var(--abv-popover-action-icon-size);
}
.abv-popover__action--with-icon .abv-popover__action-text {
  justify-content: flex-start;
}
.abv-popover[data-popper-placement^='top'] .abv-popover__arrow {
  bottom: 0;
  border-top-color: currentColor;
  border-bottom-width: 0;
  transform: translate(-50%, 0%);
  margin-bottom: calc(var(--abv-popover-arrow-size) * -1);
}
.abv-popover[data-popper-placement='top'] {
  transform-origin: 50% 100%;
}
.abv-popover[data-popper-placement='top'] .abv-popover__arrow {
  left: 50%;
}
.abv-popover[data-popper-placement='top-start'] {
  transform-origin: 0 100%;
}
.abv-popover[data-popper-placement='top-start'] .abv-popover__arrow {
  left: var(--abv-padding-md);
}
.abv-popover[data-popper-placement='top-end'] {
  transform-origin: 100% 100%;
}
.abv-popover[data-popper-placement='top-end'] .abv-popover__arrow {
  right: var(--abv-padding-md);
}
.abv-popover[data-popper-placement^='left'] .abv-popover__arrow {
  right: 0;
  border-right-width: 0;
  border-left-color: currentColor;
  transform: translate(0%, -50%);
  margin-right: calc(var(--abv-popover-arrow-size) * -1);
}
.abv-popover[data-popper-placement='left'] {
  transform-origin: 100% 50%;
}
.abv-popover[data-popper-placement='left'] .abv-popover__arrow {
  top: 50%;
}
.abv-popover[data-popper-placement='left-start'] {
  transform-origin: 100% 0;
}
.abv-popover[data-popper-placement='left-start'] .abv-popover__arrow {
  top: var(--abv-padding-md);
}
.abv-popover[data-popper-placement='left-end'] {
  transform-origin: 100% 100%;
}
.abv-popover[data-popper-placement='left-end'] .abv-popover__arrow {
  bottom: var(--abv-padding-md);
}
.abv-popover[data-popper-placement^='right'] .abv-popover__arrow {
  left: 0;
  border-right-color: currentColor;
  border-left-width: 0;
  transform: translate(0%, -50%);
  margin-left: calc(var(--abv-popover-arrow-size) * -1);
}
.abv-popover[data-popper-placement='right'] {
  transform-origin: 0 50%;
}
.abv-popover[data-popper-placement='right'] .abv-popover__arrow {
  top: 50%;
}
.abv-popover[data-popper-placement='right-start'] {
  transform-origin: 0 0;
}
.abv-popover[data-popper-placement='right-start'] .abv-popover__arrow {
  top: var(--abv-padding-md);
}
.abv-popover[data-popper-placement='right-end'] {
  transform-origin: 0 100%;
}
.abv-popover[data-popper-placement='right-end'] .abv-popover__arrow {
  bottom: var(--abv-padding-md);
}
.abv-popover[data-popper-placement^='bottom'] .abv-popover__arrow {
  top: 0;
  border-top-width: 0;
  border-bottom-color: currentColor;
  transform: translate(-50%, 0%);
  margin-top: calc(var(--abv-popover-arrow-size) * -1);
}
.abv-popover[data-popper-placement='bottom'] {
  transform-origin: 50% 0;
}
.abv-popover[data-popper-placement='bottom'] .abv-popover__arrow {
  left: 50%;
}
.abv-popover[data-popper-placement='bottom-start'] {
  transform-origin: 0 0;
}
.abv-popover[data-popper-placement='bottom-start'] .abv-popover__arrow {
  left: var(--abv-padding-md);
}
.abv-popover[data-popper-placement='bottom-end'] {
  transform-origin: 100% 0;
}
.abv-popover[data-popper-placement='bottom-end'] .abv-popover__arrow {
  right: var(--abv-padding-md);
}
.abv-popover--light {
  color: var(--abv-popover-light-text-color);
}
.abv-popover--light .abv-popover__content {
  background: var(--abv-popover-light-background);
  box-shadow: 0 2px 12px rgba(50, 50, 51, 0.12);
}
.abv-popover--light .abv-popover__arrow {
  color: var(--abv-popover-light-background);
}
.abv-popover--light .abv-popover__action:active {
  background-color: var(--abv-active-color);
}
.abv-popover--light .abv-popover__action--disabled {
  color: var(--abv-popover-light-action-disabled-text-color);
  cursor: not-allowed;
}
.abv-popover--light .abv-popover__action--disabled:active {
  background-color: transparent;
}
.abv-popover--dark {
  color: var(--abv-popover-dark-text-color);
}
.abv-popover--dark .abv-popover__content {
  background: var(--abv-popover-dark-background);
}
.abv-popover--dark .abv-popover__arrow {
  color: var(--abv-popover-dark-background);
}
.abv-popover--dark .abv-popover__action:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.abv-popover--dark .abv-popover__action--disabled {
  color: var(--abv-popover-dark-action-disabled-text-color);
}
.abv-popover--dark .abv-popover__action--disabled:active {
  background-color: transparent;
}
.abv-popover--dark .abv-popover__action-text::after {
  border-color: var(--abv-gray-7);
}
.abv-popover-zoom-enter-from,
.abv-popover-zoom-leave-active {
  transform: scale(0.8);
  opacity: 0;
}
.abv-popover-zoom-enter-active {
  transition-timing-function: var(--abv-ease-out);
}
.abv-popover-zoom-leave-active {
  transition-timing-function: var(--abv-ease-in);
}
